@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Satisfy&display=swap");
:root {
  --light-bg-color: #f9fdff;
  --primary-color: #00283b;
  --primary-hover-color: #416271;
  --secondary-color: #006691;
  --accent-color: #f17b4c;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #969696;
  --light-gray-color: #dddddd;
}
.App {
  font-family: "Karla", sans-serif;
}
.navbar {
  height: 4rem !important;
}
nav ul li a {
  font-size: 1.2rem;
}

iframe {
  pointer-events: none;
}

.Toastify__toast-container--top-right {
  top: 5em !important;
  right: 1em;
}
