.auth-wrapper {
  width: 100%;
}
.auth-card-wrapper {
  width: 35%;
  margin: 3rem auto 1rem;
  height: fit-content;
  padding: 2rem;
  border: 2px solid var(--light-gray-color);
}
.auth-card {
  width: 100;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.auth-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.auth-content input {
  margin: 0.3rem 0 1rem 0;
  padding: 1rem 0.8rem;
}
.btn {
  border-radius: 0;
  margin: 0.9rem 0 0 0;
  font-size: 1.2rem;
}

.auth-card-hr {
  margin: 1rem 0;
}

@media only screen and (max-width: 700px) {
  .auth-card-wrapper {
    width: 70%;
  }
}
